@font-face {
  font-family: headline;
  src: local(CapitoliumHead2-Bold),url(../fonts/CapitoliumHead2-Bold.woff2) format('woff2');
}

@font-face {
  font-family: bodyText;
  src: local(Capitolium2-Regular),url(../fonts/Capitolium2-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Arita-buri-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bodyText {
   font-family: bodyText;
   font-size: 1em;
   color: MediumSeaGreen;
   line-height: 1.2;
}

.bodyTextArita {
   font-family: 'Arita-buri-SemiBold';
   font-size: 1em;
   color: tomato;
   line-height: 1.2;
}

.headline {
   font-family: headline;
   font-size: 3em;
   font-weight: 400;
   line-height: 0.3;
}
.bigLight {
  font-family: bodyText;
  font-size: 2.1em;
  font-weight: 100;
}
/*
.menuText {
   font-family: bodyText;
   font-size: 0.7em;
   color: #333;
}
*/
.logo {
  font-family: 'Sofia';font-size: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: -webkit-sticky; /*safari*/
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #eee;
}

.active {
  background-color: MediumSeaGreen;
  color: tomato;
}
/*
.homelink {
   background-color: MediumSeaGreen;
   color: white;
}
*/

div.ex1 {
  width: 600px;
  margin: auto;
}
div.ex2 {
  width: 800px;
  position: absolute;
  right: 0px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.container {
  padding: 2px 16px;
  text-align: center;

}

p {
  margin-bottom: 18px;
}

img {
	width:100%;
    border-radius: 2% 2% 0% 0%;
}
