@font-face {
  font-family: headline;
  src: local(CapitoliumHead2-Bold),url(../fonts/CapitoliumHead2-Bold.woff2) format('woff2');
}

@font-face {
  font-family: bodyText;
  src: local(Capitolium2-Regular),url(../fonts/Capitolium2-Regular.woff2) format('woff2');
}

/* @font-face {
  font-family: 'Arita-buri-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
/* * {
  box-sizing: border-box;
} */

html, body {
  box-sizing: border-box;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* .bodyTextArita {
   font-family: 'Arita-buri-SemiBold';
   font-size: 1.4em;
   color: slateblue;
   line-height: 1.5;
   padding: 0 16px;
} */
.menuTextNoto {
   font-family: 'Noto Sans';
   font-size: 1.2em;
   font-weight: 500;
   line-height: 1.0;
   padding: 0;
}
p.bodyTextNoto {
   font-family: 'Noto Serif KR';
   font-size: 1.2em;
   font-weight: 500;
   color: slateblue;
   line-height: 1.5;
   padding: 0 60px;
}

.headline {
   font-family: headline;
   font-size: 3em;
   font-weight: 400;
   line-height: 0.3;
}
.bigLight {
  font-family: bodyText;
  font-size: 1.0em;
  font-weight: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: -webkit-sticky; /*safari*/
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #eee;
}

.active {
  color: slateblue;
}

div.ex1 {
  width: 800px;
  margin: auto;
}

.clmntest {
  column-count: 3;
  column-gap: 20px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 8px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 16px -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
    padding: 6px;
  }
  div.ex1 {
    width: 100%;
  }
  p.bodyTextNoto {
     padding: 0 24px;
  }
}
/* Responsive columns */
@media screen and (max-width: 414px) {
  .column {
    width: 100%;
    display: block;
    color: black;
    margin-bottom: 10px;
    padding: 0;
  }
  div.ex1 {
    width: 100%;
  }
  p.bodyTextNoto {
     padding: 4px;
  }
}


.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 2%;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.container {
  padding: 2px 16px;
  text-align: center;

}

p {
  margin-bottom: 18px;
}

p a {
  color: DodgerBlue;
  text-decoration: underline;
}

img {
	width:100%;
    border-radius: 2% 2% 0% 0%;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
